@use 'variaveis';
@use 'base';
@use 'layout';
.produto {
  &__imagem {
    width: 100%;
  }

  &__nome {
    font-size: 1.2em;
    margin: 8px 0;
  }

  &__descricao {
    color: gray;
  }

  .em-destaque {
    border: 2px solid variaveis.$colorBorder;
    padding: 8px;
    &:hover {
      background-color: variaveis.$backgroundDestaque;
    }
  }
}

